<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Перенос клиентов между группами</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link href="css/style.css" rel="stylesheet">
</head>
<body>
<div class="container px-1">
    <div class="row">
        <div class="col-sm">
            <div class="container">
                <div class="row">
                    <div class="col-1">
                        <a class="nav-link" href="/">Домой</a>
                    </div>
                    <div class="col-sm">
                        <H1>Перенос клиентов между группами</H1>

                    </div>
                </div>
            </div>
            <form method="post" enctype="multipart/form-data">
                <div class="container">
                    <div class="row">
                        <div class="col-sm">
                            <div>Переместить из
                                <select class="form-select form-select-lg mb-3" id="classifclientsfrom"
                                        name="requestclassifclientfrom">
                                    <option th:each="classifclient : ${classifClientSelectListFrom}"
                                            th:value="${classifclient.id}"
                                            th:text="${classifclient.name}"
                                            th:selected="${classifclient.selected}"
                                    >
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div>Переместить в
                                <select class="form-select form-select-lg mb-3" id="classifclientsto"
                                        name="requestclassifclientto">
                                    <option th:each="classifclient : ${classifClientSelectListTo}"
                                            th:value="${classifclient.id}"
                                            th:text="${classifclient.name}"
                                            th:selected="${classifclient.selected}"
                                    >
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <p>
                        <input type="submit" name="onСlickUploadBtn" value="Переместить"/>
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
        crossorigin="anonymous"></script>

</body>
</html>